@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); 

* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				font-family: 'Roboto', sans-serif;
				overflow: hidden;
}

body {
				margin: 0;
				padding: 0;
				position: fixed;
				display: flex;
				justify-content: center;
				align-items: center;
			 height: 100%;
			 width: 100%;
				background: #202020;
}

.container {
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
}

.block {
				position: absolute;
				width: 50px;
				height: 50px;
				background: #fff;
				box-shadow: 10px 10px 30px rgba(0,0,0,0.25);
}

.block:nth-child(3n + 2) {
				background: #444;
}

.block:nth-child(3n + 3) {
				background: #ff9213;
}

.container1 {
				position: relative;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
}

.card {
				position: relative;
				width: 300px;
				height: 80px;
				box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
				background: #FDEBD0;
				transition: height ease-in-out 0.25s;
}
.card.active {
				background: linear-gradient(180deg, #F9BF69,  #F9BF69 16%, #FDEBD0 16%, #FDEBD0 100%);
				height: 500px;
}

.content {
				align-items: center;
}

.imgBx img {
				position: absolute;
				margin: 15px;
}

.hari {
				position: absolute;
				margin-top: 65px;
				margin-left: 80px;
				font-size: 1.5em;
				color: #111;
}

.matkul {
				position: absolute;
				margin-top: 100px;
				margin-left: 80px;
				font-size: 0.7em;
				font-weight: 300;
				color: #666;
}

.navigation {
				position: relative;
				top: 80px;
				height: 380px;
				border-top: 1px solid rgba(0,0,0,0.1);
				overflow: scroll;
}
.navigation li {
				list-style: none;
				margin: 0;
				padding-top: 12px;
				padding-bottom: 20px;
				
}

.navigation li h2 {
				display: flex;
				align-items: center;
				color: #111;
				font-size: 1.1em;
				transition: 0.25s;
				margin-left: 40px;
}

.navigation li h3 {
				display: inline-flex;
				align-items: center;
				margin: 0;
				padding: 0;
				display: flex;
				align-items: center;
				color: #555;
				font-size: 0.8em;
				transition: 0.25s;
				margin-left: 40px;
}

.navigation li span {
				margin-left: 40px;
}

.count {
				width: 100%;
				display: flex;
				
}

.to {
				display: flex;
				align-items: center;
				border-radius: 0 10px 10px 0;
				margin-top: 5px;
				width: 220px;
				height: 20px;
				background: #fff;
				text-align: center;
}

.to #hari_1, .to #hari_4, .to #hari_7,
.to #hari_2, .to #hari_5, .to #hari_8,
.to #hari_3, .to #hari_6, .to #hari_9,
.to #hari_10 {
				margin-left: 20px;
				text-align: center;
				color: #555;
				font-size: 12px;
				transition: 0.25s;
}


.navigation li span {
				display: flex;
				margin-top: 20px;
				align-items: center;
				color: #111;
				font-size: 1.1em;
				transition: 0.25s;
}

.down {
				position: absolute;
				bottom: 0;
				right: 0;
				height: 40px;
				width: 40px;
				background: #FACA83;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				z-index: 1;
}

.down ion-icon {
				color: #fff;
				font-size: 1.4em;
				transition: transform ease-in-out 0.5s;
}

.card.active .down ion-icon {
				transform: rotate(-180deg);
}

.tmbl {
				display: flex;
				align-items: center;
				padding: 0;
				margin-bottom: 10px;
				margin-left: 20px;
				margin-top: -10px;
}

.mr {
				position: relative;
				width: 110px;
				height: 30px;
				background: #FACA83;
				justify-content: center;
				display: flex;
				align-items: center;
				text-decoration: none;
				margin-right: 10px;
				border-radius: 2px;
}

.gcr::before, .gd::before,
.mr::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 4px;
				height: 100%;
				background: #fff;
				transition: width 0.5s ease-in-out;
}

.gcr::after, .gd::after,
.mr::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 4px;
				height: 100%;
				background: #fff;
				transition: width 0.5s ease-in-out;
}

.gd:hover::before, .gd:hover::after,
.gcr:hover::before, .gcr:hover::after,
.mr:hover::before,
.mr:hover::after {
				width: 50%;
}

.gcr span, .gd ion-icon,
.mr span {
				position: absolute;
				color: #fff;
				z-index: 1;
				transition: 0.5s;
				user-select: none;
				font-size: 12px;
}

.gd ion-icon {
				font-size: 20px;
}

.gcr span:nth-child(1), .gd ion-icon:nth-child(1),
.mr span:nth-child(1) {
				transition-delay: 0.75s;
}

.gcr:hover span:nth-child(1), .gd:hover ion-icon:nth-child(1),
.mr:hover span:nth-child(1) {
				transform: scale(0);
				transition-delay: 0s;
}

.gcr span:nth-child(2), .gd ion-icon:nth-child(2),
.mr span:nth-child(2) {
				transform: scale(3);
				transition-delay: 0s;
				opacity: 0;
				color: #FACA83;
}

.gcr:hover span:nth-child(2), .gd:hover ion-icon:nth-child(2),
.mr:hover span:nth-child(2) {
				transform: scale(1);
				transition-delay: 0.75s;
				opacity: 1;
}

.gcr {
				position: relative;
				width: 50px;
				height: 30px;
				background: #FACA83;
				justify-content: center;
				display: flex;
				align-items: center;
				text-decoration: none;
				margin-right: 10px;
				border-radius: 2px;
}



/*gd*/
.gd {
				position: relative;
				width: 50px;
				height: 30px;
				background: #FACA83;
				justify-content: center;
				display: flex;
				align-items: center;
				text-decoration: none;
				border-radius: 2px;
}


/*nav*/
.nav {
				position: fixed;
				z-index: 2;
				width: 100%;
				height: 100%;
				display: flex;
				background: #F39C12;
				justify-content: center;
				align-items: center;
				user-select: none;
}

.nav ul {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				width: 350px;
}

.nav ul li {
				list-style: none;
				text-align: center;
				margin: 20px;
				width: 80px;
				height: 80px;
				background: #F39C12;
				border-radius: 10px;
				box-shadow: -2px -2px 5px rgba(253,235,208,1),
																3px 3px 5px rgba(0,0,0,0.5);
}

.nav ul li:hover {
				box-shadow: inset -2px -2px 5px rgba(253,235,208,1),
															inset 	3px 3px 5px rgba(0,0,0,0.5);
}

.nav ul li a {
				position: relative;
				display: block;
				padding: 10px;
}

.nav ul li a ion-icon {
				font-size: 40px;
				color: #FDEBD0;
}

.nav ul li a span {
				font-size: 15px;
				color: #FDEBD0;
}

#senin.active, #selasa.active, #rabu.active, #kamis.active, #jumat.active, 
#player.active {
				box-shadow: inset -2px -2px 5px rgba(253,235,208,1),
															inset 	3px 3px 5px rgba(0,0,0,0.5);
}

.nav .ext {				
				position: absolute;				
				width: 40px;				
				height: 40px;				
				background: #fff;				
				top: 10px;				
				right: 10px;				
				cursor: pointer;				
				display: flex;				
				justify-content: center;				
				align-items: center;				
				box-shadow: 0 0 5px rgba(0,0,0,0.5);
				border-radius: 3px;
} 
				
.nav .ext ion-icon {				
				font-size: 1.5em;
}

.tggl {
				position: absolute;
				width: 40px;
				height: 40px;
				background: #fff;
				top: 10px;
				left: 10px;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 1;
				box-shadow: 0 0 5px rgba(0,0,0,0.5);
				border-radius: 3px;
				border: none;
}

.tggl ion-icon {
				font-size: 1.5em;
				color: #F39C12;
}

.imgBox img {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 5%;
}

.hari1 {
				display: flex;
}

.hari2 {
				display: none;
}

.hari3 {
				display: none;
}

.hari4 {
				display: none;
}

.hari5 {
				display: none;
}

.player1 {
				display: none;
}

.nav1 {
				display: block;
}

.nav2 {
				display: none;
}

.nav3 {
				display: none;
}

.nav4 {
				display: none;
}

.nav5 {
				display: none;
}

.player2 {
				display: none;
}

.jam {
				z-index: 3;
				position: absolute;
				width: 100%;
				height: 30px;
				bottom: 20px;
				background: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
}

#time {
				margin-left: 20px;
}

.per1 {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 70px;
				background: #FDEBD0;
}

.per2 {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 70px;
				background: #ECD0A7;
}

.main {
				align-items: center;
}

.imgBk img {
				position: absolute;
				margin-left: 30px;
}

.play {
				display: block;
				margin-left: 60px;
				margin-top: 8px;
}

.play .nama {
				position: absolute;
				font-size: 18px;
				color: #111;
}

.play .about {
				position: absolute;
				font-size: 11px;
				color: #666;
}

